---
import { siteConfig } from "../../site.config.mjs";
import BaseHead from "../components/BaseHead.astro";
import Tags from "../components/Tags.astro";
import "../styles/post-body.css";
import BaseLayout from "./BaseLayout.astro";

const { title, date, attributes } = Astro.props;
---

<BaseLayout>
  <Fragment slot="head">
    <head>
      <BaseHead title={title} />
    </head>
  </Fragment>

  <div class="text-lg my-8 font-semibold">
    <a class="no-underline" href="/">{siteConfig.title}</a>
  </div>

  {title && <h1 class="text-4xl font-extrabold mb-4">{title}</h1>}

  <ul class="flex items-center gap-x-2 list-none pl-0 m-0!">
    {
      attributes?.date && (
        <li class="pl-0 m-0!">
          <time class="text-foreground/70">{attributes.date}</time>
        </li>
      )
    }
    {
      attributes?.tags && (
        <li class="pl-0 m-0!">
          <Tags tags={attributes.tags} />
        </li>
      )
    }
  </ul>

  <slot />
</BaseLayout>
